* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    box-sizing: border-box;
   
}
body{
    background-color: #e3e6e6;
}
.nav{
    display: flex;
    flex-direction: row;
    background-color: #131A22;
    width: auto;
    height: 60px;
}
.amazon-logo img{
   cursor: pointer;
}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
}
.drop{
    color: rgb(182, 179, 179);
}
.location{
    display: flex;
    flex-direction: row;
    color: white;
    cursor: pointer;
    align-items: center;
    margin-left: 5px;
    margin-top: 2px;
    padding-top: 0px;
}
.b{
    margin-left: 5px;
    padding-top: 0px;
}
.c{
    font-size: 12px;
    color: rgb(192, 189, 192);
}
.search-bar{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 48%;
    height: 35px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 5px;
    align-items: center;
}
.all{
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    height: 35px ;
    width: 50px ;
    cursor: pointer;
    border-top-left-radius:5px ;
    border-bottom-left-radius: 5px ;
    margin-top: 0%;
    font-size: 12px;
    color: rgb(105, 103, 105);
    background-color: rgb(214, 212, 212);
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding:auto;
}
.search-input{
    width: 80%;
    height: 25px;
    border: none;
    outline: none;
    margin-left: 10px;
    font-size: 14px;
}
.search-icon{
    display: flex;
    flex-direction: row;
    background-color: #febd69;
    width: 40px;
    height: 35px;
    cursor:pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}
.language{
    display: flex;
    flex-direction: row;
    color: white;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.account{
    display: flex;
    cursor: pointer;
    color: white;
    margin-left: 20px;
    margin-top: 10px;
    padding-top: 8px;
    font-size: 14px;
    justify-self: start;
    align-items: center;
    flex-direction: column;
    gap: 1px;
}
.orders{
    display: flex;
    cursor: pointer;
    color: white;
    margin-left: 8px;
    margin-top: 10px;
    font-size: 14px;
    padding-top: 8px;
    align-items: center;
    flex-direction: column;
    gap: 1px;
}
.cart{
    display: flex;
    cursor: pointer;
    color: white;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 14px;
    align-items: center;
    gap: 2px;
}
.cart i{
    font-size: 30px;
}
.nav2{
    display: flex;
    flex-direction: row;
    background-color: #232f3e;
    height: 40px;
    width: auto;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
    font-size: 14px;
    color: white;
}
.nav2-items{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nitems{
    margin-left: 10px;
    margin-top: auto;
    margin-right: 5px;
    font-size: 15px;
    cursor: pointer;
}
.all-categories{
    cursor: pointer;
}
.hero {
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #e3e6e6);
}
.content {
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-top: -320px;   
    z-index: 2;           
    padding: 0 10px;
    flex-wrap: wrap;
    
}
.box {
   
    width: 307px;
    height: 470px;
    background-color: #ffffff;
    padding: 12px 15px;
    display: flex;
    flex-direction: column;
    
    
    box-shadow: 0 2px 8px rgba(0,0,0,0.35);
    margin-top: 20px;
    gap:0px;

}
.box h2{
    font-size: 21px;
    font-weight: 700;
    margin:0px 0px 10px 0px;
    padding:0px;
    
    
    
}
.img1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
    margin-top: 5px;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.product img {
    width: 102%;
    height: 120px;
    object-fit: cover;
    cursor: pointer;
}

.product span {
    font-size: 12px;
    color: #0F1111;
}
.box a{
    font-size: 13px;
    color:#19578a;
    margin-top: auto;
}
.content1{
    display:flex;
    justify-content: flex-start;
    height: 300px;
    width: auto;
    padding: 20px 10px;
    margin: 20px;
    flex-direction:column;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.35);
}
.content1 a{
    font-size:14px;
    margin-left:15px;
    padding-bottom: 0px;
    padding-top: 8px;
    height: min-content;
    color:#0C3353;
}
.content1-header {
    display: flex;
    align-items: center;
    gap: 15px;
}
.images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 15px;
}

.images img {
    width: auto;
    height: auto;
    cursor: pointer
}
.content2{
    margin-top:20px;

}
.price-row {
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin-top: 6px;
}

.price {
    font-size: 22px;
    font-weight: 700;
    color: #0F1111;
}

.currency {
    font-size: 13px;
    vertical-align: super;
}

.amount {
    font-size: 22px;
}

.mrp {
    font-size: 13px;
    color: #565959;
}

.strike {
    text-decoration: line-through;
}
.s1{
    font-size: medium;
    font-weight: 400;
}
.img2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
    margin-top: 5px;
    
}
.img2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.img3{
    cursor: pointer;
}
.box2{
    display: block;
    width: auto;
    height: 800px;
    margin-top: 10px;
   
    padding-top: 10px;
    background-color: white;
    margin-left: 0px;
    margin-right: 0px;
}
.box3{
    display:block;
    width:auto;
    height:750px;
    margin:10px 15px 10px 10px;
    padding:20px;
    border:0.8px solid #dddddd;
}
.browse{
    display: flex;
    justify-content: space-between;
}
.browse h2{
    font-size: 18px;
    font-weight: 700;
    margin:0px 0px 10px 0px;
    padding:0px;
}
.browse span{
    font-size: 14px;
}
.browse .start{
    color:#2162A1;
    cursor: pointer;
}
.browse .start:hover{
    text-decoration: underline;
}
.list{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 15px;
    flex-direction: row;
    justify-content: center;
    gap:50px;
}
.list1{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    cursor: pointer;
}
.list1 img{
    width: 165px;
    height: 165px;
    object-fit: cover;
}
.list1 .des{
    font-size: 14px;
    margin-top: 8px;
    color: #2162A1;
    :hover{
        text-decoration: underline;
    }
}
.star{
    color:#ff6614;
    margin-top: 5px;
    margin-bottom: 5px;
}
.star .currency{
    color:#2162A1;
}
.list1 .amount{
    font-weight: 400;
    
}
.list1 .desc1{
    font-size: 13px;
}
.list1 .price{
    margin-bottom: 2px;
    margin-top: 5px;
}
.tag {
    color:white;
    background-color: #D14900;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 11.5px;
    
    height:fit-content;
    width: fit-content;
    padding: 2px 4px;
    
}
.tag2 {
    color:white;
    background-color: #CC0C39;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    font-size: 11.5px;
    margin-bottom: 5px;
    height:fit-content;
    width: fit-content;
    padding: 2px 4px;
    
}
.tag3{
    color:#CC0C39;
    font-size: 11.5px;
    font-weight: 600;
}
.line{
    background-color: #dddddd;
    margin-top:50px;
    height: 1px;
    border: none;
}
.sign{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    margin-top: 20px;
    margin-bottom: 20px;
    height:200px;
}
.sign button{
    background-color:#FFD814;
    cursor: pointer;
    border-radius: 20px;
    padding: 9px 11px;
    border: none;
    width:172px;
    height:30;
    font-size: 14px;

}
.sign a{
    color:#2162A1;
    cursor: pointer;
    font-size: 11px;
    
}
.sign a:hover{
    text-decoration: underline;
}
.sign span{
    font-size: 11px;
}
.footer{
    color:#dddddd;
    background-color:#131A22;
    
}
.back{
    display: flex;
    background-color:#232f3e;
    align-items: center;
    justify-content: center;
    color:white;
    gap: 8px;
    padding: 15px 0px;
    cursor: pointer;
    font-size: 13px;

}
.info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    padding: 30px 0px;
    flex-wrap: wrap;
}
.inf{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.inf p{
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin: 6px 0px 14px;
    
}
.inf span{
    font-size: 14px;
    color: #dddddd;
    cursor: pointer;
    
}
.inf span:hover{
    text-decoration: underline;
}
.amz{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:50px;
    border-top: 1px solid #404750;
    padding-top: 30px;
    
}
.amz .select{
    border: 0.1px solid white;
    padding: 8px 16px 8px 16px;
    cursor: pointer;
    font-size: 12px;
}
.adv{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    width: auto;
    height:200px;
    margin:10px 0px 0px 0px;
    background-color:#0b0f14;
    
}
.adv1{
    display:flex;
    flex-direction: column;
    width:90px;
    height: 50px;
    padding:0px 0px 0px 0px;
    font-size: 12px;
    margin: auto;
    gap:5px;
}
.adv1 p{
    color:white;
    font-size: 14px;
}
.adv1 span{
    color:#999999;
    cursor: pointer;
}
.adv1 p:hover{
    text-decoration: underline;
}
.copy{
    background-color:#0b0f14;
    
    text-align: center;
    padding: 10px 0px 10px 0px;
    font-size: 12px;
    
}

@media (max-width: 768px) {

  
  .nav {
    flex-wrap: wrap;
    height: auto;
    padding: 8px;
  }

  .location,
  .language,
  .orders {
    display: none;
  }

  .amazon-logo img {
    height: 35px;
  }

  .search-bar {
    width: 100%;
    margin: 8px 0;
  }

  .search-input {
    width: 100%;
    font-size: 13px;
  }

  .account span:nth-child(2),
  .cart span {
    display: none;
  }

  
  .nav2-items {
    display: none;
  }

  
  .hero {
    height: 250px;
  }

  .hero img {
    height: 100%;
  }

  
  .content {
    margin-top: -100px;
    flex-direction: column;
    align-items: center;
  }

  .box {
    width: 100%;
    height: auto;
  }

  
  .img1 {
    grid-template-columns: repeat(2, 1fr);
  }

  .product img {
    height: 100px;
  }

  
  .images,
  .images2,
  .img2 {
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .images img,
  .images2 img,
  .img2 img {
    min-width: 130px;
  }

  
  

  .box2 {
    height: auto;
  }

  .box3 {
    height: auto;
    padding: 15px;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-items: center;
  }

  .list1 {
    width: 100%;
    max-width: 160px;
  }

  .list1 img {
    width: 100%;
    height: auto;
  }

  .des span {
    font-size: 12px;
  }

  .price {
    font-size: 16px;
  }
  .info {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .amz {
    flex-direction: column;
    gap: 15px;
  }

  .adv {
    display: none;
  }

}
@media (min-width: 769px) and (max-width: 1024px) {

  
  .nav {
    flex-wrap: wrap;
    height: auto;
  }

  .search-bar {
    width: 60%;
  }

  
  .hero {
    height: 400px;
  }

  
  .content {
    margin-top: -200px;
    justify-content: center;
    gap: 20px;
  }

  .box {
    width: 45%;
    height: auto;
  }

  
  .img1 {
    grid-template-columns: repeat(2, 1fr);
  }

  
 .box2 {
    height: auto;
  }

  .box3 {
    height: auto;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    justify-items: center;
  }

  .list1 {
    width: 180px;
  }

  .list1 img {
    width: 100%;
    height: auto;
  }


  
  .info {
    gap: 40px;
  }

  .adv {
    justify-content: center;
  }
}

