* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
   
}
.nav{
    display: flex;
    flex-direction: row;
    background-color: #131A22;
    width: auto;
}
.location{
    display: flex;
    flex-direction: row;
    color: white;
   
    align-items: center;
    
    margin-left: 5px;
    margin-top: 2px;
    padding-top: 0px;
}
.b{
   
    margin-left: 5px;
    padding-top: 0px;
    
}
.c{
    font-size: 12px;
    color: rgb(192, 189, 192);
}
.search-bar{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 48%;
    height: 35px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 5px;
    align-items: center;
}
.all{
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    height: 35px ;
    width: 50px ;
    border-top-left-radius:5px ;
    border-bottom-left-radius: 5px ;
    margin-top: 0%;
    font-size: 12px;
    color: rgb(105, 103, 105);
    background-color: rgb(214, 212, 212);
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding:auto;
}
.search-input{
    width: 80%;
    height: 25px;
    border: none;
    outline: none;
    margin-left: 10px;
    font-size: 14px;
}
.search-icon{
    display: flex;
    flex-direction: row;
    background-color: #febd69;
    width: 40px;
    height: 35px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}
.language{
    display: flex;
    flex-direction: row;
    color: white;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.account{
    display: flex;
    
    color: white;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 14px;
   
    align-items: center;
    flex-direction: column;
    gap: 1px;
}
.orders{
    display: flex;
    
    color: white;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 14px;
   
    align-items: center;
    flex-direction: column;
    gap: 1px;
}
.cart{
    display: flex;
    
    color: white;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 14px;
   
    align-items: center;
    
    gap: 2px;
}
.nav2{
    display: flex;
    flex-direction: row;
    background-color: #232f3e;
    height: 40px;
    width: auto;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
    font-size: 14px;
    color: white;
}
.nav2-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.nitems{
    margin-left: 5px;
    margin-top: auto;
    margin-right: 5px;
    font-size: 15px;
    cursor: pointer;
}
.hero {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

    

